{% extends "index.twig" %}

{% block title %}Lista {{ uType }}{% endblock %}

{% block subtitle %}<h1 class="page-header">Lista {{ uType }}</h1>{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ uri.base.path }}assets/plugins/datatables/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ uri.base.path }}assets/plugins/datatables/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="{{ uri.base.path }}assets/plugins/datatables/extensions/Buttons/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="{{ uri.base.path }}assets/plugins/datatables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="{{ uri.base.path }}assets/plugins/datatables/extensions/Select/css/select.dataTables.min.css">
    <link rel="stylesheet" href="{{ uri.base.path }}assets/plugins/datatables/extensions/Select/css/select.bootstrap.min.css">
{% endblock %}

{% block footer %}
    <script src="{{ uri.base.path }}assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="{{ uri.base.path }}assets/plugins/datatables/js/dataTables.bootstrap.min.js"></script>
    <script src="{{ uri.base.path }}assets/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="{{ uri.base.path }}assets/plugins/datatables/extensions/Buttons/js/buttons.print.min.js"></script>
    <script src="{{ uri.base.path }}assets/plugins/datatables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="{{ uri.base.path }}assets/plugins/datatables/extensions/Select/js/dataTables.select.min.js"></script>
    <script type="text/javascript">
        jQuery.fn.dataTable.ext.buttons.selectAll = {
            text   : 'Selektuj sve',
            action : function () {
                var items = this.select.items();
                this[ items+'s' ]().select();
            }
        };

        jQuery.fn.dataTable.ext.buttons.selectNone = {
            text   : 'Poništi selekciju',
            action : function () {
                clear( this.settings()[0], true );
            }
        };

        jQuery('.data-table').DataTable({
            processing : true,
            serverSide : true,
            ajax       : '{{ uri.base.full }}/users/ajaxGetItems/?type={{ type }}',
            dom        : 'Bfrtip',
            columnDefs : [{
                orderable : false,
                className : 'select-checkbox',
                targets   : 0
            }],
            buttons : [
                'selectAll',
                'selectNone'
            ],
            select : {
                style    : '',
                selector : 'td:first-child',
                language : {
                    select: {
                        rows : {
                            _ : "Izabrali ste %d redova",
                            0 : "Kliknite na red u tabeli da bi ste ga selektovali",
                            1 : "Selektovan je samo jedan red"
                        }
                    }
                }
            },
            order : [[0, 'asc']],
            language : {
                "sProcessing"   : "Procesiranje u toku...",
                "sLengthMenu"   : "Prikaži _MENU_ elemenata",
                "sZeroRecords"  : "Nije pronađen nijedan rezultat",
                "sInfo"         : "Prikaz _START_ do _END_ od ukupno _TOTAL_ elemenata",
                "sInfoEmpty"    : "Prikaz 0 do 0 od ukupno 0 elemenata",
                "sInfoFiltered" : "(filtrirano od ukupno _MAX_ elemenata)",
                "sInfoPostFix"  : "",
                "sSearch"       : "Pretraga:",
                "sUrl"          : "",
                "oPaginate"     : {
                    "sFirst"    : "Početna",
                    "sPrevious" : "Prethodna",
                    "sNext"     : "Sledeća",
                    "sLast"     : "Poslednja"
                }
            }
        });
    </script>
{% endblock %}

{% block content %}
    <div class="box-body">
        <table class="table data-table table-bordered table-striped">
            <thead>
            <th></th>
            {% for column in columns %}
                <th>{{ column|capitalize }}</th>
            {% endfor %}
            </thead>
        </table>
    </div>
{% endblock %}
