{% extends "index.twig" %}

{% block content %}
<div class="row-fluid well alert-warning">
    <h4>Greška u pronalaženju podataka u bazi!</h4>
    <hr>
    <div class="row-fluid">
        <div class="form-group">
            <div class="col-md-12">
                <button type="button" class="btn btn-large form-control" onclick="window.location.replace('{{ base_url }}dashboard/?dbConnectionSet=false')">Promeni parametre konekcije</button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}
