{% extends "index.twig" %}

{% block content %}
<div class="row-fluid well alert-danger">
    <h4>Konekcija prema bazi nije podešena! <small style="color: #333">(unesite parametre povezivanja sa bazom podataka)</small></h4>
    <hr>
    <form action='{{ base_url }}dashboard/updateDatabase' method='post' class="form-horizontal">
        <div class="col-md-6">
            <div class="form-group">
                <label for="driver" class="col-sm-4"><strong>Bazni drajver</strong></label>
                <div class="col-sm-8">
                    <input class="form-control" id="driver" type="text" name="driver"
                           value="{{ config.database.driver }}" placeholder="mysqli"/>
                </div>
            </div>
            <div class="form-group">
                <label for="host" class="col-sm-4"><strong>Lokacije baze</strong></label>
                <div class="col-sm-8">
                    <input class="form-control" id="host" type="text" name="host"
                           value="{{ config.database.host }}" placeholder="localhost"/>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-4"><strong>Naziv baze</strong></label>
                <div class="col-sm-8">
                    <input class="form-control" id="name" type="text" name="name"
                           value="{{ config.database.name }}" placeholder="ozon"/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="prefix" class="col-sm-4"><strong>Tabelarni prefiks</strong></label>
                <div class="col-sm-8">
                    <input class="form-control" id="prefix" type="text" name="prefix"
                           value="{{ config.database.prefix }}" placeholder="ozon_"/>
                </div>
            </div>
            <div class="form-group">
                <label for="user" class="col-sm-4"><strong>Korisničko ime konekcije</strong></label>
                <div class="col-sm-8">
                    <input class="form-control" id="user" type="text" name="user"
                           value="{{ config.database.user }}" placeholder="ozon"/>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-4"><strong>Korisnička lozinka konekcije</strong></label>
                <div class="col-sm-8">
                    <input class="form-control" id="password" type="password" name="password"
                           value="{{ config.database.password }}" placeholder="ozon"/>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-md-offset-11">
            <div class="form-group">
                <div class="col-md-12">
                    <button class="btn btn-success form-control">Sačuvaj</button>
                </div>
            </div>
        </div>
    </form>
    <div class="clearfix"></div>
</div>
{% endblock %}
