{% extends "index.twig" %}
{% block header %}
<style>
    a.thumbnail
    {
        padding-top: 10px;
        padding-bottom: 1px;
        margin-top: 10px;
    }
</style>
{% endblock %}
{% block content %}
    <div class="container-fluid text-center dashboard">
        <div class="row-fluid">
            <div class="col-sm-12">
                <h2>Upravljanje</h2>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <a href="{{ base_url }}users/?type=therapist" class="thumbnail">
                    <i class="fa fa-user fa-4x"></i>
                    <div class="caption">
                        <h4>Terapeuti</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="{{ base_url }}users/?type=doctor" class="thumbnail">
                    <i class="fa fa-user-md fa-4x"></i>
                    <div class="caption">
                        <h4>Lekari</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="{{ base_url }}users/?type=patient" class="thumbnail">
                    <i class="fa fa-users fa-4x"></i>
                    <div class="caption">
                        <h4>Pacijenti</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="{{ base_url }}therapies" class="thumbnail">
                    <i class="fa fa-medkit fa-4x"></i>
                    <div class="caption">
                        <h4>Tipovi terapija</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="{{ base_url }}reports" class="thumbnail">
                    <i class="fa fa-clipboard fa-4x"></i>
                    <div class="caption">
                        <h4>Obrasci</h4>
                    </div>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row-fluid">
            <div class="col-sm-12">
                <h2>Lečenje</h2>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <a href="{{ base_url }}files" class="thumbnail">
                    <i class="fa fa-folder-open-o fa-4x"></i>
                    <div class="caption">
                        <h4>Kartoni</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="{{ base_url }}calendar" class="thumbnail">
                    <i class="fa fa-calendar-times-o fa-4x"></i>
                    <div class="caption">
                        <h4>Zakazivanja</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="{{ base_url }}examinations" class="thumbnail">
                    <i class="fa fa-stethoscope fa-4x"></i>
                    <div class="caption">
                        <h4>Pregledi</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="{{ base_url }}diagnosis" class="thumbnail">
                    <i class="fa fa-file-text fa-4x"></i>
                    <div class="caption">
                        <h4>Dijagnoze</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="{{ base_url }}treatments" class="thumbnail">
                    <i class="fa fa-hospital-o fa-4x"></i>
                    <div class="caption">
                        <h4>Tretmani</h4>
                    </div>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}
