{% extends "index.twig" %}

{% block header %}
    <link rel="stylesheet" href="{{ uri.base.path }}assets/plugins/fullcalendar/fullcalendar.min.css">
    <link rel="stylesheet" href="{{ uri.base.path }}assets/plugins/fullcalendar/fullcalendar.print.css" media="print">
{% endblock %}

{% block footer %}
    <script src="{{ uri.base.path }}assets/plugins/moment/moment.min.js"></script>
    <script src="{{ uri.base.path }}assets/plugins/moment/sr.js"></script>
    <script src="{{ uri.base.path }}assets/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="{{ uri.base.path }}assets/plugins/fullcalendar/sr.js"></script>
    <script>
        $(function () {
            // Date for the calendar events (dummy data)
            $('#calendar').fullCalendar({
                header : {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                {% if items is not empty %}
                events : [
                    {% for event in items %}
                    {
                        title : '{{ event.title }}',
                        start : new Date('{{ event.start }}'),
                        end   : new Date('{{ event.end }}'),
                        backgroundColor: {{ event.color }}
                    },
                    {% endfor %}
                ],
                {% endif %}
                editable  : true,
                droppable : false,
                dayClick  : function(date, jsEvent, view) {
                    var dateM = new moment(date);
                    $('#label').html('Novo zakazivanje za ' + dateM.lang('sr').format('dddd, DD.MM.YYYY.') + ' godine');
                    $('#calendar-modal').modal('show');
                },
                eventClick : function (calEvent, jsEvent, view) {

                }
            });
        });
    </script>
{% endblock %}

{% block title %}Zakazivanja{% endblock %}

{% block subtitle %}<h1 class="page-header">Zakazivanja</h1>{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body no-padding">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="modal fade" id="calendar-modal" tabindex="-1" role="dialog" aria-labelledby="label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="label"></h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Otkaži</button>
                    <button type="button" class="btn btn-primary">Sačuvaj</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
