{% set firstPart = uri.route|split("/")|first %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Ozon medic{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.5 -->
        <link rel="stylesheet" href="{{ uri.base.path }}assets/css/bootstrap/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ uri.base.path }}assets/css/font-awesome/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ uri.base.path }}assets/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ uri.base.path }}assets/css/admin.min.css">
        <link rel="stylesheet" href="{{ uri.base.path }}assets/css/skins/skin-blue.min.css">
        {% block header %}{% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="{{ uri.base.path }}assets/js/html5shiv.min.js"></script>
        <script src="{{ uri.base.path }}assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="fixed skin-blue">
        <div class="wrapper">
            <!-- Main Header -->
            <header class="main-header">

                <!-- Logo -->
                <a href="{{ uri.base.path }}" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><i class="fa fa-stethoscope"></i></span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg">
                        <i class="fa fa-heartbeat"></i>
                        <span><b>O</b>zon <small>medic</small></span>
                    </span>
                </a>

                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Prikaži/sakrij opcije</span>
                    </a>
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        {% include('navbar-menu.twig') %}
                    </div>
                </nav>
            </header>

            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">

                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">

                    <!-- search form (Optional) -->
                    {% include('search.twig') %}
                    <!-- /.search form -->

                    <!-- Sidebar Menu -->
                    {% include('sidebar-menu.twig') %}
                    <!-- /.sidebar-menu -->
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    {% for type, flashMessages in flashBag %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Zatvori"><span aria-hidden="true">&times;</span></button>
                                <strong>{{ type|capitalize }}!</strong>{{ flashMessage }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </section>

                <!-- Main content -->
                <section class="content">
                    {% block content %}{% endblock %}
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            <!-- Main Footer -->
            <footer class="main-footer">
                <!-- To the right -->
                <div class="pull-right hidden-xs">
                    Developed by <a target="_blank" href="https://rs.linkedin.com/in/petar-tuović-44724a83">Petar Tuović</a>
                </div>
                <!-- Default to the left -->
                <strong>Copyright &copy; 2015 <i>Ozon Medic</i>.</strong>
            </footer>
        </div><!-- ./wrapper -->

        <script src="{{ uri.base.path }}assets/js/jquery/jquery.min.js"></script>
        <script src="{{ uri.base.path }}assets/js/bootstrap/bootstrap.min.js"></script>
        <script src="{{ uri.base.path }}assets/js/app.min.js"></script>
        <script src="{{ uri.base.path }}assets/plugins/jQueryUI/jquery-ui.min.js"></script>
        <script src="{{ uri.base.path }}assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
        {% block footer %}{% endblock %}
    </body>
</html>
