<ul class="nav navbar-nav">
    <!-- Notifications Menu -->
    <!-- User Account Menu -->
    <li class="dropdown user user-menu">
        <!-- Menu Toggle Button -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <i class="fa fa-user-md"></i>
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs">dr Pera Peric</span>
        </a>
        <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
                <i class="fa fa-user-md fa-4x"></i>
                <p>Pera Perić</p>
                <p><small>doktor specijalista</small></p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
                <div class="col-xs-6 text-center">
                    <a href="#">
                        <i class="fa fa-users fa-2x"></i>
                        <p>Pacijenti</p>
                    </a>
                </div>
                <div class="col-xs-6 text-center">
                    <a href="#">
                        <i class="fa fa-calendar-times-o fa-2x"></i>
                        <p>Zakazivanja</p>
                    </a>
                </div>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
                <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profil</a>
                </div>
                <div class="pull-right">
                    <a href="#" class="btn btn-default btn-flat">Odjava</a>
                </div>
            </li>
        </ul>
    </li>
</ul>