<ul class="sidebar-menu">
    <li class="header">Upravljanje</li>
    <li>
        <a href="{{ uri.base.path }}users/?type=therapist">
            <i class="fa fa-user"></i>
            Terapeuti
        </a>
    </li>
    <li>
        <a href="{{ uri.base.path }}users/?type=doctor">
            <i class="fa fa-user-md"></i>
            Lekari
        </a>
    </li>
    <li>
        <a href="{{ uri.base.path }}users/?type=patient">
            <i class="fa fa-users"></i>
            Pacijenti
        </a>
    </li>
    <li>
        <a href="{{ uri.base.path }}therapies">
            <i class="fa fa-medkit"></i>
            Tipovi terapija
        </a>
    </li>
    <li>
        <a href="{{ uri.base.path }}reports">
            <i class="fa fa-clipboard"></i>
            Obrasci
        </a>
    </li>
    <li class="header">Lečenje</li>
    <li>
        <a href="{{ uri.base.path }}files">
            <i class="fa fa-folder-open-o"></i>
            Kartoni
        </a>
    </li>
    <li>
        <a href="{{ uri.base.path }}calendar">
            <i class="fa fa-calendar-times-o"></i>
            Zakazivanja
        </a>
    </li>
    <li>
        <a href="{{ uri.base.path }}examinations">
            <i class="fa fa-stethoscope"></i>
            Pregledi
        </a>
    </li>
    <li>
        <a href="{{ uri.base.path }}diagnosis">
            <i class="fa fa-file-text"></i>
            Dijagnoze
        </a>
    </li>
    <li>
        <a href="{{ uri.base.path }}treatments">
            <i class="fa fa-hospital-o"></i>
            Tretmani
        </a>
    </li>
</ul>